.description-in-tab {
    width: 70%;
    float:left
}

.form-in-tab {
    width: 30%;
    float:left
}

/* coloring tab selection bar */
.md-tabs.md-default-theme.md-accent > md-tabs-wrapper, md-tabs.md-accent > md-tabs-wrapper {
    background-color: #5fc9e2;

}